<template>
  <div>
    <form @submit.prevent="onSubmit">
      <h2>Super minimal Youtube search</h2>
      <div class="input-group mb-3">
        <input
          ref="searchTerm"
          type="text"
          class="form-control"
          placeholder=""
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">
            Search!
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  methods: {
    onSubmit: function() {
      this.$emit('termChange', this.$refs.searchTerm.value)
    },
  },
}
</script>

<style lang="sass" scoped>
.input-group
  max-width: 75%
</style>
